
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Shrikhand&display=swap');
  body {
      background-color: #3EECAC;
      background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  }
  
  h1, h2 {
      font-family: 'Shrikhand', cursive;
  }
  
  p, li { 
      font-family: 'Lora', serif;
  }
  
  h2 {
      margin-top: 0;
      padding-top: 0;
  }
  
  h1 { 
      font-size: 60px;
      text-align: center;
      filter: drop-shadow(5px 5px 10px rgb(195, 116, 247));
  }
  
  ul {
      margin: 0;
      padding: 0;
  }
  
  li { 
      filter: drop-shadow(5px 5px 10px rgb(195, 116, 247));
  }
  
  li a { 
      font-weight: 700;
      color: rgb(12, 12, 1);
      padding: 20px;
      background-color: rgb(255, 221, 0);
      border: 2px dotted blueviolet;
      border-radius: 7px;
      text-decoration: none;
  }
  
  section, nav {
      background-color: rgb(225, 228, 197);
      margin: 20px;
      padding: 20px 20px 40px 20px;
      border: 10px solid rgba(202, 233, 236, 0.581);
      border-radius: 20px;
      filter: drop-shadow(10px 10px 0px rgba(215, 156, 255, 0.541));
  }
  
  header > p {
      text-align: center;
  }
  
  nav > ul > li {
      display: inline;
  }
  
  .section2 > div {
      width: 150px;
      height: 150px;
      background-color:rgb(195, 116, 247);
  }
  
  .section2 > div > p {
      color: #fff;
  }
  
  .css-display { display: none; }
  .css-visibility { visibility: hidden; }
  
  .flex-container {
      display: flex;
      /* 
      flex-direction: row; => flex-flow
      flex-wrap: wrap;  => flex-flow
      */
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      filter: drop-shadow(0px 0px 50px rgba(26, 169, 16, 0.394));
  }
  
  .flex-container > div {    
      flex-grow: 1;    
  }
  
  .flex-container > div > img {
      width: 100%;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
      body { 
          background: rgb(238,174,202);
          background: linear-gradient(315deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      }
  
      h1 { filter: drop-shadow(5px 5px 10px rgb(230, 210, 135)); }
   }
  
   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
      body { 
          background-color: #4158D0;
          background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
      }
  
      h1 { filter: drop-shadow(5px 5px 10px rgb(133, 105, 3)); }
  
   }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
      body { 
          background-color: #FF3CAC;
          background-image: linear-gradient(40deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
      }
  
      h1 { color: rgb(98, 255, 252); }
   }
  
  